/include/ "system-conf.dtsi"
/ {
	model = "Zynq Zybo Z7 Development Board";
	compatible = "digilent,zynq-zyboz7", "xlnx,zynq-7000";

	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk cma=25M uio_pdrv_genirq.of_id=generic-uio root=/dev/mmcblk0p2 rw rootwait";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&i2c1 {
        status = "okay";
        device-name = "pmcu-i2c";
};

&usb0 {
	dr_mode = "host";
	status 	= "okay";
	usb-phy = <&usb_phy0>;
};

&ZmodADC_0_AXI_ZmodADC1410_1 {
	compatible = "generic-uio";
};

&ZmodDAC_0_AXI_ZmodDAC1411_v1_0_0 {
	compatible = "generic-uio";
};

&amba_pl {
	axidma_chrdev_0: axidma_chrdev@0 {
		compatible = "xlnx,axidma-chrdev";
		dmas = <&ZmodADC_0_axi_dma_0 0>;
		dma-names = "rx_channel";
		index = <0>;
	};

	axidma_chrdev_1: axidma_chrdev@1 {
		compatible = "xlnx,axidma-chrdev";
		dmas = <&ZmodDAC_0_axi_dma_1 0>;
		dma-names = "tx_channel";
		index = <1>;
	};
};
